:root {
    --black: #000000;
    --grey: #555555;
    --wood: #fdc06d;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    max-height: 100vh;
    font-size: 1.6rem;
}

/* Site Menu */

/* Header Menu */
.header-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-weight: bold;
    justify-content: center;
    height: 20vh;
    text-align: center;
    text-transform: uppercase;
}
.header-menu p {
margin: 0;
}
.version {
    font-size: 1.5rem;
}

/* Main Menu */
.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}
.main-menu button {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem auto 0 auto;
    padding: 1rem 0;
    text-transform: uppercase;
    width: 50%;
}
.main-menu button:last-of-type {
    margin-bottom: 2rem;
}

/* Footer Menu */
.footer-menu {
    bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: 100%;
}
.footer-menu p {
    margin: 0;
}

/* Selection Site */

/* Header Selection */
.header-selection {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    height: 20vh;
    text-align: center;
    text-transform: uppercase;
}
.header-selection p {
    margin: 0;
}

/* Main Selection */
.main-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

/* Chatacter Selection */
.character-selection {
    border: 2px solid var(--black);
    border-radius: 2%;
    height: 45vh;
    margin: 0 auto;
    width: 80%;
}
.character-selection img {
    height: 100%;
    width: 100%;
}
.arrow {
    font-size: 4rem;
    text-align: center;
    transition: color .3s ease-in;
}
.arrow:hover {
    color: var(--grey);
}

/* Character's Name */
.div-character-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}
.div-character-name input {
    font-weight: bold;
    margin: 0 auto 1rem auto;
    max-width: 80%;
    text-align: center;
    text-transform: uppercase;
}
.div-character-name button {
    font-weight: bold;
    margin: 0 auto;
    max-width: 50%;
    text-transform: uppercase;
}

/* Game Site */

/* Header Game */
.header-game {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: bold;
    height: 10vh;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}
.header-game p {
    margin: 0;
}

/* Main Game */
.main-game {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
}

.deck {
    border: 2px solid var(--black);
    border-radius: 2%;
    height: 25vh;
    margin: 0 auto;
    width: 35%;
}
.deck img {
    height: 100%;
    width: 100%;
}

.drew-card {
    border: 2px solid var(--black);
    border-radius: 2%;
    height: 45vh;
    margin: 0 auto;
    width: 70%;
}

.footer-game {
    bottom: 0;
    height: 30vh;
    position: absolute;
    width: 100%;
}

.player {
    align-items: center;
    display: flex;
}
.player-img {
    border-radius: 100%;
    border: 2px solid var(--black);
    height: 10vh;
    width: 20%;
}
.player-img img {
    height: 100%;
    width: 100%;
}

/* Player Cards */
.div-player-cards {
    align-items: center;
    background-color: var(--wood);
    border-top: 2px solid var(--black);
    bottom: 0;
    display: flex;
    height: 20vh;
    justify-content: center;
    position: absolute;
    width: 100%;
}
.player-card {
    border: 2px solid var(--black);
    border-radius: 2%;
    height: 15vh;
    margin: 0 .5rem;
    width: calc(25% - 1rem);
}
.player-card img {
    height: 100%;
    width: 100%;
}