:root {
    --black: #000000;
    --grey: #555555;
    --wood: #fdc06d;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    max-height: 100vh;
    overflow: hidden;
}

/* Site Menu */

/* Header Menu */
.header-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    color: #ffffff;
    font-weight: bold;
    justify-content: center;
    height: 20vh;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(135deg, #0c192c 0%,#4fc3dc 10%,#0c192c 20%,#0c192c 30%,#4fc3dc 40%,#0c192c 50%,#0c192c 60%,#4fc3dc 70%,#0c192c 80%,#0c192c 90%,#4fc3dc 100%);
    
}
.header-menu p {
margin: 0;

}
.version {
    font-size: 1.5rem;
}

/* Main Menu */
.main-menu {
    background-color: #0c192c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    overflow: hidden;
}
.main-menu button {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem auto 0 auto;
    padding: 1rem 0;
    height: 5rem;
    text-transform: uppercase;
    width: 50%;
    z-index: 1;
}
.btn {
    overflow: hidden;
    transition: 0.2s;
}
.btn:hover{
    background-color: #ff2d75;
    box-shadow: 0 0 10px #ff2d75, 0 0 40px #ff2d75, 0 0 80px #ff2d75;
    transition-delay: .5s;
}
.main-menu button:last-of-type {
    margin-bottom: 2rem;
    
}
.bubbles{
    position: absolute;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
.bubbles span {
    position: relative;
    width: 15px;
    height: 15px;
    background-color: #4fc3dc;
    margin: 0 3px;
    border-radius: 50%;
    box-shadow: 0 0 10px #4fc3dc44, 0 0 50px #4dc3dc, 0 0 100px #4dc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(10s / var(--i));
}
.bubbles span:nth-child(even){
    background-color: #ff2d75;
    box-shadow: 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4dc3dc;
}
@keyframes animate{
    0%
    {
        transform: translate(100vh) scale(0);
    }
    100%
    {
        transform: translate(-30vh) scale(1);
    }
}
/* Footer Menu */
.footer-menu {
    background: linear-gradient(135deg, #0c192c 0%,#4fc3dc 10%,#0c192c 20%,#0c192c 30%,#4fc3dc 40%,#0c192c 50%,#0c192c 60%,#4fc3dc 70%,#0c192c 80%,#0c192c 90%,#4fc3dc 100%);
    bottom: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 10vh;
    position: absolute;
    text-align: center;
    width: 100%;
}
.footer-menu p {
    margin: 0;
    
}

/* Selection Site */

/* Header Selection */
.header-selection {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    height: 20vh;
    text-align: center;
    text-transform: uppercase;
}
.header-selection p {
    margin: 0;
}

/* Main Selection */
.main-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

/* Chatacter Selection */
.character-selection {
    border: 2px solid var(--black);
    border-radius: 2%;
    /* bottom: 5rem; */
    height: 45vh;
    margin: 0 auto;
    /* position: relative; */
    width: 80%;
}
.character-selection img {
    height: 100%;
    width: 100%;
}
.arrow {
    font-size: 4rem;
    text-align: center;
    transition: color .3s ease-in;
}
.arrow:hover {
    color: var(--grey);
}

/* Character's Name */
.div-character-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}
.div-character-name input {
    font-weight: bold;
    margin: 0 auto 1rem auto;
    max-width: 80%;
    text-align: center;
    text-transform: uppercase;
}
.div-character-name button {
    font-weight: bold;
    margin: 0 auto;
    max-width: 50%;
    text-transform: uppercase;
}

/* Main Game */

.main-game {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
}

.deck {
    border: 2px solid var(--black);
    border-radius: 2%;
    height: 25vh;
    margin: 0 auto;
    width: 35%;
}
.deck img {
    height: 100%;
    width: 100%;
}

.drew-card {
    border: 2px solid var(--black);
    border-radius: 2%;
    height: 45vh;
    margin: 0 auto;
    width: 70%;
}

.footer-game {
    bottom: 0;
    height: 30vh;
    position: absolute;
    width: 100%;
}

.player {
    align-items: center;
    display: flex;
}
.player-img {
    border-radius: 100%;
    border: 2px solid var(--black);
    height: 10vh;
    width: 20%;
}
.player-img img {
    height: 100%;
    width: 100%;
}

/* Player Cards */
.div-player-cards {
    align-items: center;
    background-color: var(--wood);
    border-top: 2px solid var(--black);
    bottom: 0;
    display: flex;
    height: 20vh;
    justify-content: center;
    position: absolute;
    width: 100%;
}
.player-card {
    border: 2px solid var(--black);
    border-radius: 2%;
    height: 15vh;
    margin: 0 .5rem;
    width: calc(25% - 1rem);
}
.player-card img {
    height: 100%;
    width: 100%;
}